<!-- Header -->
<header class="template-header">
	<div class="container">

		<div class="flex-item">
		{{widget('logo', 'logo', {"defaultlogo": asset('images/logo.jpg')})|raw}}
		</div>
		<div class="flex-item">
			
		</div>
		<div class="flex-item">
			<div class="template-navigation">

				{{widget('profile', 'header-profile1', { 'profileType':'phone' })|raw}}

			</div>
		</div>

	</div>
</header>
